@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Rounded Elegance";
  src: url("fonts/Rounded Elegance Regular.otf");
} */
/* 
* {
  font-family: "Rounded Elegance";
  letter-spacing: 0.085rem;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add these styles to your globals.css */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(40px);
}

.animate-on-scroll.show {
  opacity: 1;
  transform: translateY(0);
}
